
    <nav >
        <ul>
            <li> <a href="/" class="btn btn-blue"> Inicio </a></li>
            <li> <a href="/productos" class="btn btn-pink"> Productos </a></li>
        </ul>
    </nav>